/* styles/Home.module.css */
.body {
    height: 100vh;
    background: #010101;
    cursor: none; /* Hide default cursor */
    margin: 0;
    display: flex;
    font-family: monospace;
    overflow: hidden; /* Prevent scrolling */
  }
  
  h1, p, a {
    color: #fff;
    text-align: center;
  }
  
  a {
    border-bottom: 2px solid #fff;
    padding: 10px 0;
    margin-top: 25px;
    cursor: pointer; /* Ensure it's clear this is clickable */
    transition: color 0.3s, border-color 0.3s; /* Smooth transition for hover effects */
  }
  
  a:hover {
    color: #ffa500; /* Change color on hover */
    border-color: #ffa500;
  }
  
  .cursor {
    pointer-events: none; /* Ensures the cursor doesn't interfere with other elements */
  }
  
  .cursor__ball {
    position: fixed;
    top: 0;
    left: 0;
    will-change: transform; /* Optimizes animations */
    z-index: 1000;
  }
  
  .cursor__ball--big {
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.8); /* Slightly transparent white circle */
    border-radius: 50%;
    transition: transform 0.3s ease-out; /* Smooth transformation for the cursor size change */
  }
  
  .cursor__ball--small {
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    transform: translate(-50%, -50%); /* Center the ball on the cursor */
    transition: transform 0.1s ease-out; /* Faster transition for a more responsive feel */
  }
  
  .left, .right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .right {
    background: #fff;
  }
  
  .right h1, .right p, .right a {
    color: #000;
  }
  
  .right a {
    border-bottom: 2px solid #000;
  }
  