.h1{
    color: var(--yellow);
    font-family: 'NickySans', Arial, sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    padding-top: 5%;
    text-align: center;
    padding-bottom: 4%;
}


.container {
    display: flex;  /* Continues to align items horizontally */
    align-items: stretch; /* Changes to stretch to make all children fill the container height */
    justify-content: center; /* Centers the items horizontally */
   
    
    
}

.img2 {
    height: 30%;
    margin-right: 5%;
    padding-bottom: 6px;
    border-radius: 20px;
    /* Ensures the content is sized properly within the height and width limits without distorting aspect ratio */
}

.img5{
    height: 30%;
    margin-left: 6px;
    padding-bottom: 6px;
    border-radius: 3%;
}