.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  background-color: var(--yellow);
  height: 60vh;
}


@media (min-width: 900px) {
  .container {
      grid-template-columns: repeat(3, 1fr);
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 900px) {
  .item {
      flex-direction: row;
      justify-content: space-between;
      align-items: center; 
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  padding-top: 5%;
  width: 90%;
  text-align: center;
}


.text {
  text-align: center; /* Default text alignment */
  padding: 10px; /* Default padding */
}

/* Logo.module.css */
@media (min-width: 900px) {
  .item .content .color1 {
    width: 40% ;

  }
  .item .content .p {
    width: 44% ;
    padding-left: 5%;
  
  }
  .item .content .color {
    width: 40%;
    
    padding-top: 16%;
  }
}

.plusContainer {
  display: flex;
  align-items: center; /* Center the plus sign vertically */
  justify-content: center; /* Center the plus sign horizontally */
}

.p1 {
  font-size: 2rem;
  text-align: center;
}

.p {
  
  padding-bottom: 3%;
  width:15%;
}

.color {
  padding-bottom: 3%;
  width: 30%; /* Adjust based on your design preference */
}

.color1{
  padding-bottom: 3%;
  width: 55%;
}

.pLogo{
  margin: 0 auto;
  width:10%;
}