.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns of equal width */
    align-items: start; /* Align items to the start of each grid cell */
    gap: 20px; /* Space between columns */
    max-width: 1200px; /* Maximum width of the grid */
    margin: auto; /* Center the grid in the middle of the page */
    height:90vh;
    margin-top: 5%;
}

.imageColumn {
    position: relative; /* Sets a stacking context */
    height: 20rem; /* Set a fixed height */
    width: 100%; /* Ensure the container is full width */
}

.baseImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 27rem; /* Adjust width as needed */
    height: 18rem; /* Adjust height as needed */
    object-fit: cover;
    z-index: 2; /* Lower z-index */
    transform: rotate(10deg); /* Rotate the image slightly */
}

.topImage {
    position: absolute; /* Ensures it's in the same stacking context */
    left: 30%; /* Offset from the left */
    top: 65%; /* Offset from the top */
    width: 20rem; /* Ensure matching width for stacking */
    height: 26rem; /* Ensure matching height for stacking */
    opacity: 1;
    z-index: 3; /* Higher z-index should ensure it is on top */
    transform: rotate(-10deg); /* Rotate the image slightly */
}


.textContent {
    background: #000; /* Dark background for the text section */
    color: #fff; /* White text for visibility */
    padding: 20px; /* Padding around text */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center the text content */
}

.h2 {
    color: var(--yellow); /* Ensure your --yellow variable is defined */
    font-family: 'NickySans', Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 2.8rem;
    margin-bottom: 0.5rem; /* Reduced bottom margin */
    text-align: center;  
    text-align: center;
    justify-content: center;
}

.pp {
    color: var(--yellow); /* Ensure your --yellow variable is defined */
    font-family: 'NickySans', Arial, Helvetica, sans-serif;
    font-weight: 400; /* Normal font weight */
    font-size: 1.1rem; /* Increase font size */
    margin-bottom: 1.5rem;
    max-width: 70%; /* Limit text width for better readability */
    line-height: 1.6; /* Improve text readability */
    text-align: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .gridContainer {
        grid-template-columns: 1fr; /* Stack columns vertically on smaller screens */
    }

    .textContent, .imageColumn {
        padding: 15px;
    }

    .imageColumn {
        order: 2; /* Images come after text on smaller screens */
    }

    .textContent {
        order: 1; /* Text comes first on smaller screens */
    }
}
