.banner {
    position: relative;
    width: 100%;
    height: 500px; /* Adjust the height as needed */
    overflow: hidden;
}

.bannerSlide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: none; /* Initially hide all slides */
    transition: opacity 1s ease-in-out; /* Smooth transition for opacity */
}

.active {
    display: block; /* Only active slides are shown */
    opacity: 1; /* Fully visible */
}

.splitScreen {
    display: flex;
    width: 100%;
    height: 100%;
}

.half {
    flex: 1;
    background-size: cover;
    background-position: center;
}

.fullScreen {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: block; /* Ensure full screen images are always visible when active */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
