.bannerContainer {
    overflow: hidden;
    width: 100%;
    background-color: var(--yellow);
}

.banner {
    display: flex;
    animation: scroll 15s linear infinite;
}

.bannerItem {
    flex-shrink: 0;
    padding: 0 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    white-space: nowrap;
}

/* Adjust the animation so that the content loops seamlessly */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%); /* Scroll off the screen completely */
    }
}
