.bannerContainer {
    width: 100%;
    overflow: hidden;
    background-color: var(--yellow);
    display: flex;
    align-items: center;
    height: 50px;
    position: absolute;
    top: 0; /* Position it at the top of the page */
    z-index: 2; /* Ensure it is above the footer */
    transform: skewY(-5deg); /* Apply slant to the banner */
    margin-top: 7%;
    padding-bottom: ;
  }
  
  .banner {
    display: flex;
    animation: scroll 10s linear infinite;
    white-space: nowrap;
    transform: skewY(5deg); /* Correct the skew of the text */
  }
  
  .bannerItem {
    margin: 0 20px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    font-family: 'NickySans', Arial, Helvetica, sans-serif;
    white-space: nowrap;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  