
.headerContainer {
    background-image: url('/site-photos-paw/background-explain.png'); 
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    padding-top: 10%;
    
    
}


.annotationContainer1 {
    position: relative;
    display: flex;
    align-items: top; 
    gap: 10px; 
    margin-bottom: 20px; 
    flex-direction: row-reverse;
}

.annotationContainer2 {
    position: relative;
    display: flex;
    align-items: top; 
    gap: 2px; 
    margin-bottom: 20px; 
    flex-direction: row-reverse;
}


.line1 {
    width: 270px; 
    height: 2px; 
    background-color: black; 
    margin-top: 8px;
}

.line2 {
    width: 200px; 
    height: 2px; 
    background-color: black; 
    margin-top: 8px;
    
}

.whiteBox1 {
    position: relative;
    width: 15%; 
    font-family: 'NickySans', Arial, sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
}


.annotation1 {
   top:5%; 
    right: 58%; 
}

.annotation2 {
    top:25%;
    right: 59%; 
}



.annotation3 {
    top:-25%;
    left: 58%; 
}
.line3 {
    width: 130px;
    
    height: 2px;
    
    background-color: black;
    margin-top: 8px ;
    
}


.whiteBox3 {
    position: relative;


    width: 15%;
   
    font-family: 'NickySans', Arial, sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
}

.annotationContainer3 {
    position: relative;
    display: flex;
    align-items: top; /
    gap: 10px; /* Space between the paragraph and the line */
    margin-bottom: 20px; /* Space between annotations */
    flex-direction: row; /* Reverse the order: line comes after the paragraph */
}

/* Hide white box by default if hover is required */






/* Headings */
.h1,
.h2 {
    color: black;
    font-family: 'NickySans', Arial, sans-serif;
    text-align: center;
    margin: 0;
}

.h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}