.container {
    width: 100%;       /* Full width of its parent */
    height: 400px;     /* Fixed height */
    background-image: url("/site-photos-paw/background-explain.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
