.HomeProjects {
    background-color: black;
    height: 2300px;
}

.Projects {
    color: var(--yellow);
    font-size: 300%;
    text-align: center;
    font-family: 'NickySans', Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5%;
    width: 100%;
    padding: 0 1rem;
}

.firstImage, .secondImage, .thirdImage, .HermiePhoto {
    width: 80%;
    height: auto;
    margin: 20px 0;
    display: block;
}

.h3 {
    color: var(--yellow);
    font-size: 300%;
    text-align: center;
    font-family: 'NickySans', Arial, Helvetica, sans-serif;
    margin: 20px 0;
}

.p {
    color: var(--yellow);
    font-size: 130%;
    text-align: center;
    font-family: 'NickySans', Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.Banner {
    padding-top: 30%;
}

@media (max-width: 1024px) {
    .firstImage, .secondImage, .thirdImage, .HermiePhoto {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .container {
        min-width: 300px;
        padding: 0 2rem;
    }
    .firstImage, .secondImage, .thirdImage, .HermiePhoto {
        width: 95%;
    }
}

@media (max-width: 480px) {
    .container {
        min-width: 400px;
        padding: 0 3rem;
    }
    .firstImage, .secondImage, .thirdImage, .HermiePhoto {
        width: 60%;
    }
}
