.container {
    position: relative;
    min-height: 100vh; /* Full viewport height */
    overflow-x: hidden;
}

.parallax {
    position: relative;
    width: 100%;
    height: 100vh; /* Each section is a full viewport */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img{
    height: 70vh;

    @media (max-width: 768px) {
        height: 50vh; /* Smaller height on smaller screens */
    }
}

.parallax img {
    width: 80%; /* Adjust based on your design */
    height: auto;
    margin-bottom: 1rem;
}

.parallax h2 {
    margin: 1rem 0;
}

.parallax p {
    margin: 0.5rem 0;
}
