.stickyBlock {
    position: sticky;
    top: 0; /* Sticks to the top of the viewport */
    z-index: 3; /* Higher z-index than BlockTwo */
    height: 100vh;
    background: black;
    padding: 20px;
}


.stickyBlock img {
    width: 80%; /* Increase image size for full-screen displays */
    height: auto; /* Maintain aspect ratio */
    max-width: 900px; /* Limit max width for very large screens */
    margin-bottom: 1rem;
}