.headerContainer {
    background-image: url('/site-photos-wellness/wellness-store.jpg'); /* Background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    position: relative; /* Required for child elements */
}
