@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f7f5;
  --foreground: #171717;
  --yellow: #FFCB57;
  --beige: #ffefd2;
  --regular:400;
  --black: 900;
  --font-primary: 'NickySans', Arial, sans-serif;
}


@font-face {
  font-family: 'NickySans';
  src: url('/src/assets/fonts/NickySans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NickySans';
  src: url('/src/assets/fonts/NickySans-Black.ttf') format('truetype');
  font-weight: 900; 
  font-style: normal;
  
}


.h