.floatingMenu {
    position: fixed;
    top: 0;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Align center */
    width: 19%;
    max-width: 100%; /* Limits the menu width */
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center; /* Center items */
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
    box-sizing: border-box;
    border-radius: 50px;
    margin-top: 5%;
    transition: top 0.3s; /* Smooth transition for the top property */
}

.hidden {
    top: -100%; /* Hide the menu by moving it out of view */
}

.img {
    width: 60px;
    margin-right: 20px;
}

.home, .projects {
    margin-left: 4%;
    margin-right: 10%;
}

.home:hover, .projects:hover {
    color: #FF4800;
    text-decoration: underline;
}

.home:active, .projects:active {
    color: #FF4800;
}
