.floatingMenu {
    position: fixed;
    top: 5%; /* Adjust based on your design preference */
    left: 50%; 
    transform: translateX(-50%); /* Centers the menu horizontally */
    width: 20%; /* Adjust width as needed */
    min-width: 300px; /* Minimum width to ensure usability */
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    display: grid;
    grid-template-columns: auto 1fr; /* Space for logo and navigation */
    align-items: center; /* Vertical alignment */
    justify-content: center; /* Horizontal alignment */
    padding: 10px 20px;
    border-radius: 30px;
    z-index: 10000;
    transition: top 0.6s;
}

.hidden {
    top: -100%; /* Hide the menu when not in view */
}

.img {
    grid-column: 1 / 2;
    width: 60px; /* Adjust based on design needs */
    margin-right: 20px; /* Space between logo and links */
}

.nav {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(2, auto); /* Allocate equal space for each link */
    justify-content: center; /* Center navigation items horizontally */
    text-align: center;
}

.home, .projects {
    padding: 5px 10px; /* Clickable area padding */
    cursor: pointer; /* Indicate clickable items */
}

.home:hover, .projects:hover {
    color: #FF4800;
    text-decoration: underline;
}

.home:active, .projects:active {
    color: #FF4800;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .floatingMenu {
        width: 0%; /* Increase width on smaller screens */
        top: 5%; /* Adjust top position */
        padding: 10px 10px; /* Adjust padding */
    }

    .img {
        width: 50px; /* Adjust logo size for smaller screens */
    }
}

@media (max-width: 480px) {
    .floatingMenu {
        width: 50%; /* Full width on mobile */
        grid-template-columns: 50px 1fr; /* Adjust columns for logo and navigation */
    }

    .img {
        margin-right: 10px; /* Reduce space between logo and links */
    }

    .nav {
        grid-template-columns: 1fr; /* Single column for nav items */
    }
}
