.img1{
    padding-top: 5px;
    background-color: var(--foreground);
    padding-bottom: 5px;
}

.container {
    display: flex;  /* Changes from block to flex to align items horizontally */
    align-items: center; /* Centers the items vertically */
    justify-content: center; /* Centers the items horizontally */
    padding-top: 5px;
}

.img2 {
    width: 50%; /* Adjusts each child to take half of the container's width */
    height: auto; /* Maintains aspect ratio */
}
