.surveyContainer {
    display: flex;
    flex-direction: column;
    gap: 17%;
    max-width: 80%;
    background-color: #f4f4f4;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .leftContainer {
    flex: 1;
    text-align: left;
  }
  
  .leftContainer h2 {
    font-size: 24px;
    font-weight: bold;
    color: #b3521e;
  }
  
  .leftContainer h3 {
    font-size: 22px;
    font-weight: bold;
    color: #b3521e;
  }
  
  .rightContainer {
    flex: 2;
    display: flex;
    justify-content: flex-end;
  }
  
  .yellowBox {
    background-color: #f2c94c;
    padding: 20px;
    border-radius: 12px;
    max-width: 500px;
  }
  
  .surveyLink {
    color: #b3521e;
    font-weight: bold;
    text-decoration: none;
  }
  
  .surveyLink:hover {
    text-decoration: underline;
  }
  
  .gridContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
  
  .orangeBox,
  .greenBox {
    flex: 1;
    padding: 20px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .orangeBox {
    background-color: #e29657;
    color: #693312;
  }
  
  .greenBox {
    background-color: #a8db75;
    color: #36591c;
  }
  