.img1 {
    background-color: var(--background);
    width: 100%;
    padding-top: 6px;
}

.wrap {
    padding-left: 15%;
    padding-right: 15%;
    background-color: #F6E6C1;
    padding-bottom: 5px;
  
}

.container {
    background-color: #F6E6C1;
}