.img1 {
    background-color: var(--background);
    width: 100%;
    padding
}

.wrap {
    margin-left: 5%;
    margin-right: 5%;
    background-color: #F6E6C1;
}

.container {
    background-color: #F6E6C1;
}