
.banner {
    position: relative;
    width: 100%;
    height: 700px; 
    overflow: hidden;
    background-color: black; 
}


.bannerSlide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
}

.active {
    opacity: 1;
    transition: opacity 0s; 
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 2;
}


.parentContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    z-index: 3; /* Above the overlay and images */
    pointer-events: none; /* Allow clicks to pass through */
}

/* Styling for the centered heading */
.h2 {
    color: var(--yellow);
    font-family: 'NickySans', Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 4.5rem; /* Default font size */
    text-align: center;
    pointer-events: auto; /* Enable text to be selectable or clickable */
    padding: 0 27%; /* Add padding to restrict text width */
    margin-bottom: 20px; /* Adds space between the heading and the button */
}

/* Responsive design adjustments */
@media (min-width: 1440px) {
    .banner {
        height: 1000px; /* Larger height for larger desktop screens */
    }
   
}

@media (max-width: 1024px) {
    .banner {
        height: 950px; /* Adjusted height for smaller desktops and tablets */
    }
    .h2 {
        font-size: 3.5rem; /* Smaller font size for tablet screens */
    }
}

@media (max-width: 768px) {
    .banner {
        height: 800px; /* Smaller height for tablet sizes */
    }
    .bannerSlide {
        background-position: top; /* Focus on the most relevant part of the image */
    }
    .h2 {
        font-size: 2.5rem; /* Smaller font size for tablet screens */
    }
}

@media (max-width: 480px) {
    .banner {
        height: 700px; /* Substantially smaller height for mobile devices */
    }
    .h2 {
        font-size: 2rem; /* Even smaller font size for mobile screens */
    }
}



.button {
    background-color: var(--yellow);
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 30px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 3px 5px 0px rgba(255, 255, 255, 3);
    border: 2px solid white;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: block; /* Ensure it's a block to respect top margin */
    pointer-events: auto; /* Allow button to be clickable */
}

.button:hover {
    transform: rotate(-7deg);
    color: #1580fb;
}