.Footer {
  background-color: var(--yellow);
  padding: 1rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  padding: 0 10px;
}


.imgColumn {
  flex: 1;
  padding: 0 10px;
}

/* Styling for the image inside img-column */
.imgColumn img {
  width: 100%;
  max-width: 200px;
  height: auto;
}
