/* styles/Footer.module.css */

.Footer {
  background-color: var(--yellow);
  padding: 1rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  padding: 0 10px;
}

.imgColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.imgColumn img {
  max-width: 200px;
  height: auto;
}

.links {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.links a {
  margin: 5px 0;
  text-decoration: none;
  color: #000;
  font-family: 'NickySans', sans-serif;
}

.links a:hover {
  color: #007bff;
}

@media (min-width: 769px) {
  .container {
    flex-direction: row;
  }

  .imgColumn {
    order: 2;
  }

  .container .column:nth-child(2) {
    order: 1;
  }

  .container .column:nth-child(3) {
    order: 3;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .imgColumn {
    order: 1;
  }

  .container .column:nth-child(2) {
    order: 2;
  }

  .container .column:nth-child(3) {
    order: 3;
  }
}
