.Footer {
    background-color: var(--yellow);
    padding: 1rem;
    text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal columns */
  gap: 16px; /* Space between columns */
  background-color: #f9f9f9; /* Optional for visualization */
  padding: 16px;
}
.column {
  background-color: #e0e0e0;
  text-align: center;
  padding: 16px;
  border: 1px solid #ccc;
}

